risc_v_base_test_share:
  - test_name: risc_v_c_base
    father_test_name:
    test_type: c_test
    tb_name: tb
    test_file: 
    test_option:
      - fghj_random_enable: 1000
      - fghj_random_disable: 50
  - test_name: risc_v_uvm_base
    father_test_name: 
    test_type: c_test
    test_file: 
    test_option:
      --abcd_random_enable:50
      --abcd_random_disable:50